body {
  height: 100vh;
}

#GlasLeft {
  /* Wand rechts */
  position: fixed;
  background: rgb(220, 220, 230);
  top: 25mm;
  left: 78mm;
  width: 16mm;
  height: 100mm;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
  /* transform: matrix(3, 0, 0, 1.10, 0, 0); */
}

#GlasRight {
  /* Wand rechts */
  position: fixed;
  background: rgb(220, 220, 230);
  top: 41mm;
  left: 125mm;
  width: 16mm;
  height: 100mm;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
  /* transform: matrix(3, 0, 0, 1.10, 0, 0); */
}

#GlasFront {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 36mm;
  right: 168mm;
  width: 47mm;
  height: 100mm;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}
.handleDoor{
  position: absolute;
  top: 47%;
  left: -5px;
}
#GlasFront::before {
  content: url('../hinge\(1\).png');
  position: absolute;
  top: 12%;
  right: -13px;
}
#GlasFront::after {
  content: url('../hinge\(1\).png');
  position: absolute;
  top: 82%;
  right: -13px;
}
.bottom-26 {
  bottom: 26px;
}