body {
  height: 100vh;
}

#GlasLeft {
  position: fixed;
  background: rgb(220, 220, 230);
    background-color: rgb(220, 220, 230);
  top: 18mm;
  left: 67mm;
  width: 0;
  height: 0;
  transform: skewY(20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasRight {
  /* Wand rechts */
  position: fixed;
  background: rgb(220, 220, 230);
  top: 25mm;
  left: 90mm;
  width: 43mm;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
  /* transform: matrix(3, 0, 0, 1.10, 0, 0); */
}

#GlasFront {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 29.9mm;
  left: 75mm;
  width: 0;
  height: 0;
  transform: skewY(19deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

.bottom-26 {
  bottom: 26px;
}