body {
  height: 100vh;
}

#GlasRight {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 18.4mm;
  left: 147mm;
  width: 13mm;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasLeft {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 34.9mm;
  left: 102.4mm;
  width: 13mm;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 26.7mm;
  left: 115.2mm;
  width: 32mm;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront2 {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 23.7mm;
  left: 131mm;
  width: 0;
  height: 0;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

.bottom-26 {
  bottom: 26px;
}