body {
  height: 100vh;
}

#GlasLeft {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 37.6mm;
  left: 103mm;
  width: 45px;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 29.7mm;
  left: 115.2mm;
  width: 32mm;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

.bottom-26 {
  bottom: 26px;
}