body {
  height: 100vh;
}

.bottom-26 {
  bottom: 26px;
}

#GlasLeft,
#GlasRight,
#GlasFront {
  position: fixed;
  background: rgb(220, 220, 230);
}

#GlasLeft {
  background-color: rgb(220, 220, 230);
  top: 58mm;
  right: 165mm;
  width: 47mm;
  height: 100mm;
  transform: skewY(19deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasRight {
  top: 48mm;
  right: 118mm;
  width: 47mm;
  height: 100mm;
  transform: skewY(20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
  /* transform: matrix(3, 0, 0, 1.10, 0, 0); */
}

#GlasFront {
  background: rgb(220, 220, 230);
  top: 50mm;
  right: 118mm;
  width: 47mm;
  height: 100mm;
  top: 50%;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}