body {
  height: 100vh;
}

#rightPanel {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%) skewY(-20deg);
  transform-origin: center;
  width: max-content;
}

#GlasRight {
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  width: 13mm;
  height: 100mm;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasLeft {
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  width: 13mm;
  height: 100mm;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront {
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  width: 32mm;
  height: 100mm;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront2 {
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 23.7mm;
  left: 131mm;
  width: 0;
  height: 0;
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

.handleDoor{
  position: absolute;
  top: 47%;
  left: -5px;
}
#GlasFront::before {
  content: url('../hinge\(1\).png');
  position: absolute;
  top: 12%;
  right: -13px;
}
#GlasFront::after {
  content: url('../hinge\(1\).png');
  position: absolute;
  top: 82%;
  right: -13px;
}

.bottom-26 {
  bottom: 26px;
}