body {
  height: 100vh;
}

#GlasLeft {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 19.4mm;
  left: 131mm;
  width: 36mm;
  height: 100mm;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasRight {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 17.2mm;
  left: 95.4mm;
  width: 25mm;
  height: 100mm;
  transform: skewY(20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 23.7mm;
  left: 120.2mm;
  width: 11mm;
  height: 100mm;
  transform: skewY(20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

#GlasFront2 {
  position: fixed;
  background: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  background-color: rgb(220, 220, 230);
  top: 23.7mm;
  left: 131mm;
  width: 0;
  height: 0;
  transform: skewY(-20deg);
  display: block;
  background-color: #D2E9E0;
  opacity: 0.5;
  border-style: solid;
  border-color: #98CEAE;
  border-width: 2px;
}

.bottom-26 {
  bottom: 26px;
}